@import 'czl-base.css';
#main .title .first-list {
  background-color: #f1f1f1;
  font-size: .16rem;
}
#main .title .first-list::after {
  height: 0;
}
#main .title .second-list {
  background-color: #f7f7f7;
  font-weight: 600;
  font-size: .15rem;
}
#main .content {
  background-color: #f1f1f1;
}
#main .content .mui-table-view-cell {
  border: 1px solid #eee;
  margin: .05rem 0;
  font-size: .16rem;
  background-color: #f5f5f5;
}
#main .content .mui-table-view-cell::after {
  left: 0;
}
#main .content .mui-table-view-cell .mui-navigate-right::after {
  font-weight: 700;
  font-size: .16rem;
  color: #000;
}
#main .content .mui-table-view-cell .mui-collapse-content {
  background-color: #f7f7f7;
  border-bottom: 1px solid #000;
}
