html {
  font-size: 26.6666vw;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-size: .14rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
/* 头部区域 */
#header .logo {
  padding: .1rem .1rem .1rem;
  display: flex;
  justify-content: space-between;
  background-color: #fe4e49;
}
#header .logo a {
  display: block;
}
#header .logo a i {
  color: #fff;
  font-size: .22rem;
  line-height: .3rem;
}
#header .logo a img {
  display: block;
  width: 1.85rem;
  height: .25rem;
}
#header .logo a:last-of-type img {
  width: .35rem;
  height: .35rem;
}
#header .logo a:first-of-type {
  padding-top: .05rem;
}
#header .logo span {
  color: #fff;
  font-size: .22rem;
  font-weight: 700;
  line-height: .35rem;
}
#header .search {
  padding: .1rem;
}
#header .search form {
  display: flex;
  justify-content: space-between;
}
#header .search form input {
  width: 2.85rem;
  height: .3rem;
  border-radius: .3rem;
  border: none;
  padding: 0 .2rem;
  background-color: #f0f0f0;
  margin-bottom: 0;
}
#header .search form input::placeholder {
  font-size: .12rem;
  color: #555555;
}
#header .search form button {
  width: .63rem;
  height: .3rem;
  border-radius: .3rem;
  border: none;
  background-color: #555555;
  color: #fff;
}
/* 底部区域 */
#footer {
  background-color: #222933;
}
#footer .foot-top {
  display: flex;
  border: 1px solid #717171;
}
#footer .foot-top a {
  display: block;
  color: #fff;
  line-height: .35rem;
  text-align: center;
  width: 30%;
  box-sizing: border-box;
  border-right: 1px solid #717171;
}
#footer .foot-top .top {
  width: 40%;
  border-right: none;
}
#footer .foot-top .top img {
  vertical-align: middle;
}
#footer .foot {
  text-align: center;
  font-size: .12rem;
}
#footer .foot .load {
  padding: .15rem 0;
}
#footer .foot .load a {
  display: inline-block;
  color: #fe4e49;
}
#footer .foot .load span {
  color: #bdbdbd;
}
#footer .foot p {
  color: #506565;
  padding-bottom: .2rem;
}
#main .category {
  margin: 0 0.05rem;
  border-radius: .1rem;
  border: 1px solid #cbcbcb;
  overflow: hidden;
}
#main .category > li > a {
  background-color: #f0f0f0;
  font-weight: 700;
  font-size: .15rem;
}
#main .category > li > div {
  padding: 0;
  background-color: #f8f8f8;
}
#main .category > li > div li {
  border-right: .01rem solid #cbcbcb;
  border-bottom: .01rem solid #cbcbcb;
  text-align: center;
  line-height: .4rem;
}
#main .category > li > div li a {
  display: block;
}
#main .section2 {
  margin-bottom: .3rem;
  margin-top: .05rem;
}
#main .section2 .title {
  height: .35rem;
  background-color: #fe4e49;
  padding: 0 .1rem;
  color: #fff;
}
#main .section2 .title span {
  line-height: .35rem;
}
#main .section2 .title a {
  display: inline-block;
  float: right;
  line-height: .35rem;
}
#main .section2 .title a img {
  width: .2rem;
  height: .2rem;
  vertical-align: middle;
}
.mui-scroll-wrapper {
  position: relative;
  height: 100%;
}
